@charset "utf-8";
.login{
  position: fixed;
  top:0;
  bottom:0;
  width: 100%;
  max-width: 750px;
  background: #fff url("../../../static/img/login-bg.png") no-repeat top;
  background-size: 100% auto;
}
.login-content{
  padding-top: 120px;
}
.login-input{
  width: 80%;
  margin: 80px auto 0;
  font-size: 32px;
  input{
    width: 100%;
    text-align: center;
    background-color: transparent;
    outline: none;
    border: 0;
    border-bottom: 1px solid #f0f0f0;
    padding-bottom: 25px;
  }
}
.btn-login{
  width: 80%;
  margin: 110px auto 60px;
  height: 80px;
  text-align: center;
  line-height: 80px;
  background-color: rgb(156, 156, 156);
  color: #fff;
  font-size: 32px;
  &.active{
    background-color: #ed4529;
  }
}

.login-widget{
  width: 80%;
  margin: 0 auto;
  a{
    float: left;
    width: 50%;
    text-align: center;
    font-size: 28px;
    color: #505050;
  }
}
.btn-register{
  text-align: center;
  margin-top: 80px;
  font-size: 28px;
  color: #505050;
  a{
    color: #ed4529;
  }
}






























